# Core Data Handling
pandas
numpy

# EDA & Visualization
matplotlib
seaborn
plotly

# Statistical Analysis
scipy
statsmodels

# Machine Learning
scikit-learn
xgboost

# Model Interpretability
shap
lime

# Data Version Control
dvc

# Dev Tools
ipykernel
jupyter
python-dotenv

# GitHub Actions (testing and linting support, optional)
pytest
flake8
